{
  "presets" : [ "babel-preset-expo" ],
  "env" : {
    "development" : {
      "plugins" : [
      	"transform-react-jsx-source",
        [ "module-resolver", {
          "root" : [ "./" ],
          "alias" : {
            'navigation' : './navigation',
            'components' : './components',
            'constants' : './constants',
            'assets' : './assets'
          }
        }],
      	"transform-decorators-legacy"
      ]
    }
  }
}
